@import './partials/variables.scss';

*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


nav{  
    display: flex;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    padding: 25px;

    ul{
        display: flex;
        justify-content: space-between;
      li{
         margin:0 15px ;
         font-size: 15px;
         list-style: none;
        
      }  
   }   
}


button{
    color: white;
    background-color: rgb(43, 43, 43);
    border: 2px solid rgb(95, 99, 255) ;
    padding: 15px;
}

